{% extends 'admin/admin.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}
    <a href="{{ path('admin_page_index') }}" class="btn btn-primary mb-2">back to list</a>

    {{ include('admin/page/_delete_form.html.twig') }}

    <h1>Edit Page</h1>

    {{ include('admin/page/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="card mt-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                created: {{ page.createdAt|date('d.m.Y H:i:s') }}
            </li>
            {% if page.updatedAt != null %}
                <li class="list-group-item">
                    updated: {{ page.updatedAt|date('d.m.Y H:i:s') }}
                </li>
            {% endif %}
            <li class="list-group-item">
                {{ page.status ? ' published' : 'draft' }}
            </li>
            <li class="list-group-item">
                <a href="{{ path('admin_page_publish', {'id': page.id}) }}" class="btn btn-primary">
                    {{ page.status ? ' unpublish' : 'publish' }}
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
