{% extends 'admin/admin.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <a href="{{ path('admin_post_index') }}" class="btn btn-primary mb-2">back to list</a>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID - {{ post.id }}</h6>
        </div>
        {% if post.getFile != null %}
            <img src="{{ post.getFile.getPath }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
            {{ post.content|raw }}
        </div>
        <div class="card-footer">
            <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-warning mb-2">edit</a>
            {{ include('admin/post/_delete_form.html.twig') }}
        </div>
    </div>

    {% for comment in post.comments %}
        <div class="card">
            <div class="card-header">
                {{ comment.user.email }}
            </div>
            <div class="card-body">
                {{ comment.body }}
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Answer</a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            There are no comments yet.
        </div>
    {% endfor %}
{% endblock %}
