{% extends 'admin/admin.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <a href="{{ path('admin_post_index') }}" class="btn btn-primary mb-2">back to list</a>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID - {{ post.id }}</h6>
        </div>
        {% if post.getFile != null %}
            <img src="{{ asset(post.getFile.getPath) }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
            {{ post.content|raw }}
        </div>
        <div class="card-footer">
            <a href="{{ path('admin_post_edit', {'id': post.id}) }}" class="btn btn-warning mb-2">edit</a>
            {{ include('admin/post/_delete_form.html.twig') }}
        </div>
    </div>

    {% if config.getPremoderation == false  %}
        <div class="alert alert-secondary" role="alert">
            pre-moderation disabled.
        </div>
    {% endif %}

    {% for comment in post.comments %}
        <div class="card mb-2">
            <div class="card-header">
                {{ comment.user.email }}
            </div>
            <div class="card-body">
                {{ comment.message }}
            </div>
            {% if config.getPremoderation is same as(true) %}
                <div class="card-footer">
                    {% if comment.allowed is same as(true) %}
                        <div class="alert alert-success" role="alert">
                            allowed
                        </div>
                    {% elseif comment.allowed is same as(false) %}
                        <div class="alert alert-danger" role="alert">
                            baned
                        </div>
                    {% elseif comment.allowed is same as(null) %}
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{{ path('admin_comment_allow', {'id': comment.id}) }}" class="btn btn-success">allow</a>
                            <a href="{{ path('admin_comment_ban', {'id': comment.id}) }}" class="btn btn-danger">ban</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            There are no comments yet.
        </div>
    {% endfor %}
{% endblock %}