{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <div class="btn-group pb-2">
        <a href="{{ path('post_new') }}" class="btn btn-primary">Create new</a>
    </div>

    {{ include('common/_search_form.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created at</th>
                <th>Update at</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in pagination %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.createdAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ post.updatedAt|date('d.m.Y H:i:s') }}</td>
                <td>{{ post.status }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-warning">edit</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}