{% extends 'user/2-columns.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <ul class="list-inline">
        <li class="list-inline-item">author: {{ post.admin.username }}</li>
        <li class="list-inline-item">created: {{ post.createdAt|date('d.m.Y H:i:s') }}</li>
        <li class="list-inline-item">
            rate:
            {{ post.numberOfGrades == 0 ? 0 : post.sumOfGrades / post.numberOfGrades }}
        </li>
    </ul>

    {% set file = post.getFile %}
    {% if file != null %}
        <img src="{{ asset(file.path) }}" class="img-fluid" alt="{{ post.title }}">
    {% else %}
        <hr>
    {% endif %}


    {% if post.onlyForRegistered and not app.user %}
        <div class="card-body bg-secondary text-center">
            this post is for registered users.
            <a href="{{ path('app_login') }}" class="card-link">sign in</a> to read.
        </div>
    {% else %}
        {{ post.content|raw }}
        <hr>

{#        {% for comment in post.comments %}#}
{#            <div class="card">#}
{#                <div class="card-header">#}
{#                    {{ comment.user.email }}#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    {{ comment.body }}#}
{#                </div>#}
{#                <div class="card-footer">#}
{#                    <a href="#" class="btn btn-primary">Answer</a>#}
{#                </div>#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="alert alert-secondary" role="alert">#}
{#                There are no comments yet.#}
{#            </div>#}
{#        {% endfor %}#}
    {% endif %}
{% endblock %}

{% block sidebar %}{{ knp_menu_render('usercategories') }}{% endblock %}