{% extends 'admin/admin.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <a href="{{ path('admin_category_index') }}" class="btn btn-primary mb-2">back to list</a>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">{{ category.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">ID - {{ category.id }}</h6>
        </div>
        <ul class="list-group list-group-flush">
            {% for post in category.posts %}
                <li class="list-group-item">
                    <a href="{{ path('admin_post_show', {'id': post.id}) }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-warning mb-2">edit</a>
            {{ include('admin/category/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
